@font-face {
    font-family: 'Minecraft';
    src: url(texts/Minecraft.ttf);
}
* {
    color: rgb(184, 191, 197);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#actualization {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(20,20,20,0.5);
    width: 100%;
    border-radius: 8px;
}

#actualization #content_update {
    width: 94%;
    height: 90%;
}

.form_info {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.form_info div{
    width: 93%;
}
.subraya {
    color: burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image_info {
    width: 100%;
}
.title_info {
    width: 95%;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}
.style_text {
    font-size: 35px;
}
.type_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.indicator {
    display: flex;
    justify-content: center;
}

.text_version {
    height: 26px;
    color: rgb(253, 224, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.version {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.form_version {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: tomato;
    width: 72px;
    height: 35px;
    flex-direction: column;
}
.form_version:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(253, 0, 0);
    width: 72px;
    height: 35px;
    flex-direction: column;
}

.separator {
    height: 5px;
    width: 10px;
}

#content_info {
    width: 90%;
    height: 99%;
    flex-direction: column;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(20,20,20,0.5);
    width: 95%;
    max-width: 840px;
    border-radius: 8px;
}

#header_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(20,20,20,0.5);
    width: 95%;
    max-width: 840px;
    border-radius: 8px;
}
#background {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(69, 21, 21);
}

#options {
    background-color: cadetblue;
}
#options:hover {
    background-color: rgb(28, 208, 214);
}

#buttons_pe {
    display: flex;
    justify-content: center;
    width: 120px;
}

#button_download {
    align-items: end;
    flex-direction: column;
    position: absolute;
    display: flex;
    width: 85%;
    max-width: 740px;
}

#title {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url(textures/ui/title_back.png);
}

#title a {
    width: 45px;
    position: absolute;
    left: 10px
}
#title a:hover {
    width: 50px;
    position: fixed;
    left: 8px
}

#title img {
    width: 94%;
    max-width: 750px;
}

#title h1 {
    font-size: 120%;
    color: rgb(210, 30, 30);
}

#space_text_image {
    width: 10px;
}

#logo_stack #text h2 {
    color: dimgrey;
    font-size: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo_stack h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 100%;
}

#logo {
    width: 50px;
    height: 50px;
}

#logo_stack #text {
    left: 10px;
}

#logo_stack {
    display: flex;
    align-items: center;
    width: 90%;
}

.download {
    height: 50px;
    width: 53px;
}

.download button {
    border-radius: 6px;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(210, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
    outline: none;
    border: none;
}
.download button:hover {
    cursor: pointer;
    background-color: rgb(213, 108, 108);
}

.download button img {
    width: 20px;
}


#comentario_form {
    width: 100%;
    height: 100%;
}

#comments {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(20,20,20,0.5);
    width: 95%;
    max-width: 840px;
    border-radius: 8px;
}

#social_network {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.25), 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(93, 62, 62, 0.5);
    width: 95%;
    max-width: 840px;
    border-radius: 8px;
}

#social_network div{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button_social_network {
    display: flex;
    width: 100%;
    font-family: 'Minecraft';
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.button_social_2 {
    display: flex;
    width: 100%;
    font-family: 'Minecraft';
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.button_social_network img {
    width: 100%;
}
.button_social_network img:hover {
    width: 110%;
}

.button_social_2 img {
    width: 100%;
}
.button_social_2 img:hover {
    width: 105%;
    margin: -1.2%;
}

#social_1 {
    width: 120%;
}
#social_2 {
    width: 120%;
}

#social_1:hover {
    width: 130%;
}
#social_2:hover {
    width: 130%;
    margin: -1.2%;
}
